<div class="block-role">
  <mat-radio-group (change)="selectUser($event)">
    <mat-radio-button *ngFor="let user of users ; let i = index" [value]="i"> {{ user.name }}</mat-radio-button>
  </mat-radio-group>

</div>
<div class="wrapper" *ngIf="displayBlock">
  <div class="block-boulangerie">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let gateau of gateaux">
        <img src="./assets/gateaux/{{gateau.id}}.png"
             [class.disabled]="!(checkPermission(['bakery', 'produce']) | async)"
             (click)="addGateau(gateau.id)"/></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="block-vitrine">
    <mat-list>
      <mat-list-item *ngFor="let item of gateauxOnSale; let i = index">
        <h4 mat-line>{{item.title}}</h4>
        <button mat-raised-button *appCanAccess="['bakery', 'buy']"
                (click)="eatGateau(i)" color="accent">Buy
        </button>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>







